.background {
  background-image: url("../../../assets/images/background_image.png");
  background-size: contain;
  background-position: center;
  height: fit-content;
  padding-left: 20px;
  padding-right: 20px;
}
.container {
  border-radius: 20px;
  padding: 15px;
  height: fit-content;
}
