<div class="background">
  <div class="big-container">
    <div class="half-container">
      <div class="wrapper">
        <div class="picture-section">
          <img [src]="owner.profilePicture?.path" alt="profile-pic" class="profile-pic" />
        </div>
        <div class="role-container">
          <img class="user-role-icon" src="../../../assets/images/user_role.png">
          <p class="user-role">owner</p>
        </div>
        <div class="rating-container">
          <img class="user-star" src="../../../assets/images/icons8-star-26.png">
          <p class="user-rate">{{averageRating | number:'1.2-2'}} / 5.0</p>
        </div>
      </div>
      <div class="info-section">
        <h2 class="section-title">Profile: </h2>
        <div class ="help-div">
          <p class="name-surname" name="ns">{{owner.name + " " + owner.surname}}</p>
        </div>
        <div class ="help-div2">
          <img class="info-icon" src="../../../assets/images/email_32.png">
          <p class="email" >{{owner.email}}</p>
        </div>
        <div class ="help-div2">
          <img class="info-icon" src="../../../assets/images/location_32.png">
          <p class="address" >{{owner.address}}</p>
        </div>
        <div class ="help-div2">
          <img class="info-icon" src="../../../assets/images/phone_32.png">
          <p class="phone" >{{owner.phone}}</p>
        </div>
      </div>
    </div>
    <div class="half-container2">
      <div class="comments-section">
        <h2 class="section-title">Create new comment: </h2>
        <div class="add-comment-section">
          <form [formGroup]="add_comment_form">
            <mat-form-field>
              <mat-label>Enter your comment...</mat-label>
              <textarea matInput type="text" class="comment-textarea" formControlName="content"></textarea>
            </mat-form-field>
            <div class="add-ratings-section">
              <div class="star-rating">
            <span *ngFor="let _ of stars; let i = index"
                  (click)="rate(i + (hoverIndex === 0.5 ? 0.5 : 1))"
                  [ngClass]="{'filled': i + 1 <= selectedRating, 'half-filled': i + 0.5 === selectedRating, 'active': i + 1 <= hoverIndex || i + 0.5 === hoverIndex}"
                  (mouseenter)="hover(i + 1)"
                  (mouseleave)="reset()">
                    &#9733;
            </span>
                <p *ngIf="selectedRating > 0" class="selected-rating">{{ selectedRating.toFixed(1) }} / 5.0</p>
              </div>
            </div>
            <div class="buttons">
              <button type="submit" mat-raised-button class="btnAdd" (click)="submitForm()">Add comment</button>
              <button type="reset" mat-raised-button class="btnCancel" routerLink="/">Cancel</button>
            </div>
          </form>
        </div>

        </div>

      <div class="comments-section">
        <h2 class="section-title">Comments: </h2>
        <div *ngFor="let comment of ownerComments" class="comment">
          <div class="commenter-wrapper">
            <img class="profile" src="{{comment.guestProfilePicture.path}}">
            <p class="commenter-name">{{comment.guestName + " " + comment.guestSurname}}</p>
            <button class="delete-comment" *ngIf="comment.guestId === loggedIn" (click)="deleteComment(comment)"><mat-icon class="delete-icon">delete</mat-icon></button>
            <p class="comment-date">{{comment.date}}</p>
            <img class="more" src="../../../assets/images/more_32.png">
          </div>
          <p class="comment-text">{{comment.content}}</p>
          <div class="rating-helper">
            <div class="rating-wrapper">
              <p class="comment-rate">{{comment.rating | number:'1.1-1'}} / 5.0</p>
              <img class="comment-star" src="../../../assets/images/icons8-star-26.png">
            </div>
          </div>
        </div>
        <div class="comment">
          <div class="commenter-wrapper">
            <img class="profile" src="../../../assets/images/profile_image.jpg">
            <p class="commenter-name">Annie Smith</p>
            <p class="comment-date">01.12.2023.</p>
            <img class="more" src="../../../assets/images/more_32.png">
          </div>
          <p class="comment-text">This is a very lovely apartment and I enjoyed my stay very much!</p>
          <div class="rating-helper">
            <div class="rating-wrapper">
              <p class="comment-rate">5.0 / 5.0</p>
              <img class="comment-star" src="../../../assets/images/icons8-star-26.png">
            </div>
          </div>
        </div>
        <div class="comment">
          <div class="commenter-wrapper">
            <img class="profile" src="../../../assets/images/profile_image.jpg">
            <p class="commenter-name">Annie Smith</p>
            <p class="comment-date">01.12.2023.</p>
            <img class="more" src="../../../assets/images/more_32.png">
          </div>
          <p class="comment-text">This is a very lovely apartment and I enjoyed my stay very much!</p>
          <div class="rating-helper">
            <div class="rating-wrapper">
              <p class="comment-rate">5.0 / 5.0</p>
              <img class="comment-star" src="../../../assets/images/icons8-star-26.png">
            </div>
          </div>
        </div>
        <div class="comment">
          <div class="commenter-wrapper">
            <img class="profile" src="../../../assets/images/profile_image.jpg">
            <p class="commenter-name">Annie Smith</p>
            <p class="comment-date">01.12.2023.</p>
            <img class="more" src="../../../assets/images/more_32.png">
          </div>
          <p class="comment-text">This is a very lovely apartment and I enjoyed my stay very much!</p>
          <div class="rating-helper">
            <div class="rating-wrapper">
              <p class="comment-rate">5.0 / 5.0</p>
              <img class="comment-star" src="../../../assets/images/icons8-star-26.png">
            </div>
          </div>
        </div>
      </div>
      <div class="buttons-section">
        <button class="profile-button" mat-raised-button (click)="openPopup()">Report User <mat-icon>report</mat-icon></button>
      </div>
    </div>
  </div>
</div>


