mat-card-content {
  width: 90%;
  height: fit-content;
  overflow-wrap: break-word;
}
mat-card {
  background-color: #90A288;
  color: #3c3c3c;
  width: 100%;
  border-radius: 10px;
}
mat-card-content {
  width: 100%;
  display: flex;
}
.right_part,
.left_part{
  display: inline-block;
}
.right_part,
.left_part {
  display: flex;
}
.left_part {
  width: 40%;
  max-height: 250px;
}
.right_part {
  width: 58%;
  display: inline-block;
}
img {
  width: 90%;
  max-height: 350px;
  overflow: hidden;
  display: inline;
  border-radius: 10px;
}
.name_and_price,
.rating {
  width: 95%;
  height: fit-content;
  display: inline-block;
}
.name_and_price {
  justify-content: space-between;
}
.prices {
  float: right;
  padding: 0px;
  margin: 0px;
}
.full_price {
  margin: 0px;
}
.unit_price {
  margin: 0px;
  font-size: 10px;
}
p .description{
  display: inline-block;
  height: 60%;
}
.right_part_bottom {
  white-space: nowrap;
  display: grid;
}
.rating {
  float: left;
}
