.background {
  background-image: url("../../../assets/images/pozadina.png");
  height: 100vh;
  background-position: center;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center; /* Center content both horizontally and vertically */
}

.login-container {
  width: 573px;
  height: 567px;
  border-radius: 30px;
  background-color: rgba(144, 162, 136, 0.6);
  text-align: center;
  padding: 20px;
}

/* ... (rest of your CSS remains unchanged) */


.logo {
  width: 375px;
  height: 105px;
  left: 533px;
  top: 288px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

#buttons {
  margin-left: 50px;
}

#btnLogin {
  position: relative;
  color: #E5E5E5;
  background-color: #3C3C3C;
  margin-right: 50px;
  align-content: center;
  width: 150px;
  height: 55px;
  font-size: 25px;
}

#btnCancel {
  width: 150px;
  height: 55px;
  color: #E5E5E5;
  background-color: #3C3C3C;
  font-size: 25px;
}

#sign-up {
  text-align: left;
  margin: 50px;
  color: #3C3C3C;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 25px;
}

#btnSignUp {
  text-decoration: underline;
  font-size: 20px;
  display: inline-flex;
  margin-left: 50px;
  align-content: flex-end;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

