<div class="login-container">
  <img src="../../../assets/images/big-logo.png" alt="logo" class="logo">
<form [formGroup]="loginForm">
  <mat-form-field>
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'"required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
</form>
<div id="buttons">
  <button (click)="login()" type="submit" mat-raised-button id="btnLogin">Login</button>
  <button type="reset" mat-raised-button id="btnCancel">Cancel</button>
</div>
  <div id="sign-up">
    <span id="account">Don't have an account?<button mat-button id="btnSignUp">Sign up</button></span>

  </div>
</div>


