<div class="background">
  <div class="login-container">
    <img src="../../../assets/images/big-logo.png" alt="logo" class="logo">
    <p *ngIf="notification" [class]="notification.msgType">{{notification.msgBody}}</p>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!submitted" [formGroup]="form">
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input formControlName="email" matInput placeholder="pat@example.com" required>
<!--        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div id="buttons">
        <button [disabled]="!loginForm.form.valid" type="submit" mat-raised-button id="btnLogin">Login</button>
        <button type="reset" mat-raised-button id="btnCancel" routerLink="/">Cancel</button>
      </div>

    </form>
    <div id="sign-up">
      <span id="account">Don't have an account?<button mat-button id="btnSignUp" [routerLink]="['/signup']">Sign up</button></span>
    </div>

  </div>
</div>

