.background {
  background-image: url("../../../assets/images/background_image.png");
  background-size: contain;
  background-position: center;
  height: fit-content;
  padding: 20px;
  min-height: 480px;
}
.container {
  border-radius: 20px;
  padding: 15px;
  height: fit-content;
  background-color: #90A28880;
}
.title{
  color: #3c3c3c;
  padding: 15px;
}
.placeholder {
  height: fit-content;
  border-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
}
app-guest-reservation-card {
  margin: 2px;
  height: fit-content;
}
card_div {
  height: fit-content;
  max-height: min-content;
  margin: 2px;
}
