<div class="background">
  <div class="container">
    <form>
      <input type="text" id="where_input" name="where_input" placeholder="Where to?">
      <input type="date" id="from_date" name="from_date" placeholder="When?">
      <input type="date" id="to_date" name="to_date" placeholder="When?">
      <input type="number" id="people_input" name="people_input" placeholder="How many people?">
      <button [routerLink]="['/search']" id="search_button" class="search-button">Search!</button>
    </form>
    <br>
    <div class="placeholder">
      <p class="popular_places"><b>Popular places: </b></p>
      <div class="popular_places_holder">
        <ul class="popular_list">
          <li>
            <div class="card">
              <p class="name"><b>Lisbon</b></p>
              <img class="image" src="../../../assets/lisbon_image.jpg">
            </div>
          </li>
          <li>
            <div class="card">
              <p class="name"><b>Paris</b></p>
              <img class="image" src="../../../assets/paris_image.jpg">
            </div>
          </li>
          <li>
            <div class="card">
              <p class="name"><b>London</b></p>
              <img class="image" src="../../../assets/london_image.jpg">
            </div>
          </li>
          <li>
            <div class="card">
              <p class="name"><b>Madrid</b></p>
              <img class="image" src="../../../assets/madrid_image.jpg">
            </div>
          </li>
          <li>
            <div class="card">
              <p class="name"><b>Copenhagen</b></p>
              <img class="image" src="../../../assets/copenhagen_image.jpg">
            </div>
          </li>
        </ul>
      </div>

      <p class="accommodation_types"><b>Accommodation types: </b></p>
      <div class="acc_types_holder">
        <ul class="acc_types">
          <li>
            <div class="card">
              <p class="name"><b>Hotel</b></p>
              <img class="image" src="../../../assets/hotel_image.jpg">
            </div>
          </li>
          <li>
            <div class="card">
              <p class="name"><b>Apartment</b></p>
              <img class="image" src="../../../assets/apartment_image.jpg">
            </div>
          </li>
          <li>
            <div class="card">
              <p class="name"><b>Villa</b></p>
              <img class="image" src="../../../assets/villa_image.jpg">
            </div>
          </li>
          <li>
            <div class="card">
              <p class="name"><b>Room</b></p>
              <img class="image" src="../../../assets/room_image.jpg">
            </div>
          </li>
          <li>
            <div class="card">
              <p class="name"><b>Resort</b></p>
              <img class="image" src="../../../assets/resort_image.jpg">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
