.background {
  background-image: url("../../../assets/backgound_image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.container {
  border-radius: 20px;
  padding: 15px;
  height: fit-content;
}
form {
  border-radius: 20px;
  height: 7%;
  padding: 1%;
  background-color: #90A28880;
}
#where_input,
#people_input {
  width: 30%;
  background-color: #e5e5e5;
  border: #00000000;
  margin-right: 10px;
  border-radius: 5px;
  min-height: 50px;
}
#from_date,
#to_date {
  width: 15%;
  background-color: #e5e5e5;
  border: #00000000;
  margin-right: 10px;
  border-radius: 5px;
  min-height: 50px;
}
.search-button {
  background-color: #3c3c3c;
  color: #e5e5e5;
  border-radius: 10px;
  border: #00000000;
  min-height: 50px;
  width: 6%;
}
#popular_places {
  color: #3c3c3c;
}
.placeholder {
  height: fit-content;
  background-color: #90A28880;
  padding: 10px;
  border-radius: 10px;
}
ul {
  width: 100%;
  overflow-x: scroll;
  list-style: none;
  scroll-behavior: smooth;
}
li {
  width: fit-content;
  display: inline;
}
.card {
  height: 30%;
  min-height: 150px;
  max-width: 300px;
  background-color: #3c3c3c60;
  border-radius: 10px;
}
img {
  border-radius: 10px;
  width: 90%;
  margin: 10px;
}
.name {
  color: #3c3c3c;
  position: relative;
  top: 10px;
  left: 15px;
  font-size: large;
}
