<div class="background">
  <div class="big-container">
    <div class="half-container">
      <div class="picture-section">
        <img [src]="updateUser.profilePicture?.path" alt="profile-pic" class="profile-pic" />
        <!--<button class="change-pic-button" (click)="fileInput.click()">upload</button>-->
        <input type="file"  accept="image/*" multiple (change)="handleFileInput($event)" />
      </div>
      <div class="role-container">
        <img class="user-role-icon" src="../../../assets/images/user_role.png">
        <p class="user-role">owner</p>
      </div>
      <div class="rating-container">
        <img class="user-star" src="../../../assets/images/icons8-star-26.png">
        <p class="user-rate">{{averageRating}} / 5.0</p>
      </div>
      <div class="comments-section">
        <h2 class="section-title">Comments: </h2>
        <div *ngFor="let comment of ownerComments" class="comment">
          <div class="commenter-wrapper">
            <img class="profile" src="{{comment.guestProfilePicture.path}}">
            <p class="commenter-name">{{comment.guestName + " " + comment.guestSurname}}</p>
            <button class="report-comment" *ngIf="comment.ownerId === loggedIn" (click)="reportComment(comment)" [style.color]="comment.reported ? '#90A288' : '#3C3C3C'"><mat-icon class="report-icon">report</mat-icon></button>
            <p class="comment-date">{{comment.date}}</p>
            <img class="more" src="../../../assets/images/more_32.png">
          </div>
          <p class="comment-text">{{comment.content}}</p>
          <div class="rating-helper">
            <div class="rating-wrapper">
              <p class="comment-rate">{{comment.rating | number:'1.1-1'}} / 5.0</p>
              <img class="comment-star" src="../../../assets/images/icons8-star-26.png">
            </div>
          </div>
        </div>
        <div class="comment">

          <div class="commenter-wrapper">
            <img class="profile" src="../../../assets/images/profile_image.jpg">
            <p class="commenter-name">Annie Smith</p>
            <p class="comment-date">01.12.2023.</p>
            <img class="more" src="../../../assets/images/more_32.png">
          </div>
          <p class="comment-text">This is a very lovely apartment and I enjoyed my stay very much!</p>
          <div class="rating-helper">
            <div class="rating-wrapper">
              <p class="comment-rate">5.0 / 5.0</p>
              <img class="comment-star" src="../../../assets/images/icons8-star-26.png">
            </div>
          </div>
        </div>
        <div class="comment">
          <div class="commenter-wrapper">
            <img class="profile" src="../../../assets/images/profile_image.jpg">
            <p class="commenter-name">Annie Smith</p>
            <p class="comment-date">01.12.2023.</p>
            <img class="more" src="../../../assets/images/more_32.png">
          </div>
          <p class="comment-text">This is a very lovely apartment and I enjoyed my stay very much!</p>
          <div class="rating-helper">
            <div class="rating-wrapper">
              <p class="comment-rate">5.0 / 5.0</p>
              <img class="comment-star" src="../../../assets/images/icons8-star-26.png">
            </div>
          </div>
        </div>
        <div class="comment">
          <div class="commenter-wrapper">
            <img class="profile" src="../../../assets/images/profile_image.jpg">
            <p class="commenter-name">Annie Smith</p>
            <p class="comment-date">01.12.2023.</p>
            <img class="more" src="../../../assets/images/more_32.png">
          </div>
          <p class="comment-text">This is a very lovely apartment and I enjoyed my stay very much!</p>
          <div class="rating-helper">
            <div class="rating-wrapper">
              <p class="comment-rate">5.0 / 5.0</p>
              <img class="comment-star" src="../../../assets/images/icons8-star-26.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay" id="dialog-overlay">
      <div class="dialog">
        <div class="dialog-title-wrapper">
          <h2 class="dialog-title">{{ title }}</h2>
        </div>
        <div class="dialog-content-wrapper">
          <p class="dialog-content">{{ content }}</p>
        </div>
        <button class="dialog-button" (click)="closeDialog()">OK</button>
      </div>
    </div>
    <div class="half-container">
      <div class="info-section">
        <h2 class="section-title">Profile: </h2>
        <div class ="help-div">
          <input type="text" class="name-surname" name="ns" [(ngModel)]="updateUser.name" placeholder="name & surname">
        </div>
        <br>
        <div class ="help-div2">
          <img class="info-icon" src="../../../assets/images/email_32.png">
          <input type="text" class="email" [(ngModel)]="updateUser.email" placeholder="email address">
        </div>
        <div class ="help-div2">
          <img class="info-icon" src="../../../assets/images/location_32.png">
          <input type="text" class="address" [(ngModel)]="updateUser.address" placeholder="address">
        </div>
        <div class ="help-div2">
          <img class="info-icon" src="../../../assets/images/phone_32.png">
          <input type="text" class="phone" [(ngModel)]="updateUser.phone" placeholder="phone number">
        </div>
      </div>
      <div class="password-section">
        <h2 class="section-title">Password: </h2>
        <div class="password-wrapper">
          <label class="password-label">new password: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input matInput [type]="hide_new ? 'password' : 'text'" class="password" [(ngModel)]="newPassword">
          <button mat-icon-button matSuffix (click)="hide_new = !hide_new">
            <mat-icon class="icon">{{hide_new ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </div>
        <div class="password-wrapper">
          <label class="password-label">confirm password: </label>
          <input matInput [type]="hide_confirm ? 'password' : 'text'" class="password" [(ngModel)]="confirmPassword">
          <button mat-icon-button matSuffix (click)="hide_confirm = !hide_confirm">
            <mat-icon class="icon">{{hide_confirm ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </div>
      </div>
      <div class="buttons-section">
        <button class="profile-button" (click)="deleteAccount()">Delete account</button>
        <button class="profile-button" (click)="applyChanges()">Apply changes</button>
      </div>
    </div>
  </div>
</div>

