<div class="background">
  <div class="big-container">
    <div class="half-container">
      <div class="picture-section">
        <img [src]='path' alt="profile-pic" class="profile-pic" />
        <!--<button class="change-pic-button" (click)="fileInput.click()">upload</button>-->
        <input type="file" accept="image/*" multiple (change)="handleFileInput($event)" />
      </div>
      <div class="info-section">
        <h2 class="section-title">Profile: </h2>
        <div class ="help-div">
          <input type="text" class="name-surname" name="ns" [(ngModel)]="updateUser.name" placeholder="name & surname">
        </div>
        <div class ="help-div">
          <label class="role">admin</label>
        </div>
        <br>
        <div class ="help-div2">
          <img class="info-icon" src="../../../assets/images/email_32.png">
          <input type="text" class="email" [(ngModel)]="updateUser.email" placeholder="email address">
        </div>
        <div class ="help-div2">
          <img class="info-icon" src="../../../assets/images/location_32.png">
          <input type="text" class="address" [(ngModel)]="updateUser.address" placeholder="address">
        </div>
        <div class ="help-div2">
          <img class="info-icon" src="../../../assets/images/phone_32.png">
          <input type="text" class="phone" [(ngModel)]="updateUser.phone" placeholder="phone number">
        </div>
      </div>
    </div>
    <div class="overlay" id="dialog-overlay">
      <div class="dialog">
        <div class="dialog-title-wrapper">
          <h2 class="dialog-title">{{ title }}</h2>
        </div>
        <div class="dialog-content-wrapper">
          <p class="dialog-content">{{ content }}</p>
        </div>
        <button class="dialog-button" (click)="closeDialog()">OK</button>
      </div>
    </div>
    <div class="half-container">
      <div class="password-section">
        <h2 class="section-title">Password: </h2>
        <div class="password-wrapper">
          <label class="password-label">new password: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input matInput [type]="hide_new ? 'password' : 'text'" class="password" [(ngModel)]="newPassword">
          <button mat-icon-button matSuffix (click)="hide_new = !hide_new">
            <mat-icon class="icon">{{hide_new ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </div>
        <div class="password-wrapper">
          <label class="password-label">confirm password: </label>
          <input matInput [type]="hide_confirm ? 'password' : 'text'" class="password" [(ngModel)]="confirmPassword">
          <button mat-icon-button matSuffix (click)="hide_confirm = !hide_confirm">
            <mat-icon class="icon">{{hide_confirm ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </div>
      </div>
      <div class="buttons-section">
        <button class="profile-button" (click)="applyChanges()">Apply changes</button>
      </div>
    </div>
  </div>
</div>

