<div class="desktop-11">

  <div class="dialog1">
    <div  class="photo-box">
      <div *ngFor="let image of accommodation.images">
        <img
          alt=""
          [src]="image.path_front"
        />
      </div>
    </div>
    <div class="description_box">
      <div class="title"><b>{{accommodation.title}}</b></div>
      <br>
      <br>
      <p class="description">{{accommodation.description}}</p>
    </div>

    <div class="container">
      <b class="title">Amenities: </b>
      <br>
      <br>
      <div class="amenity_container">
          <div *ngFor="let amenity of accommodation.amenities">
            <div class="amenity">
              <img class="amenity_image" [src]="amenity.image_path">
              <p>{{amenity.name}}</p>
            </div>
          </div>
      </div>
    </div>

    <div class="description_box">
      <h2 class="section-title">Create new comment: </h2>
      <div class="add-comment-section">
        <form [formGroup]="add_comment_form">
          <mat-form-field>
            <mat-label>Enter your comment...</mat-label>
            <textarea matInput type="text" class="comment-textarea" formControlName="content"></textarea>
          </mat-form-field>
          <div class="add-ratings-section">
            <div class="star-rating">
            <span *ngFor="let _ of stars; let i = index"
                  (click)="rate(i + (hoverIndex === 0.5 ? 0.5 : 1))"
                  [ngClass]="{'filled': i + 1 <= selectedRating, 'half-filled': i + 0.5 === selectedRating, 'active': i + 1 <= hoverIndex || i + 0.5 === hoverIndex}"
                  (mouseenter)="hover(i + 1)"
                  (mouseleave)="reset()">
                    &#9733;
            </span>
              <p *ngIf="selectedRating > 0" class="selected-rating">{{ selectedRating.toFixed(1) }} / 5.0</p>
            </div>
          </div>
          <div class="buttons">
            <button type="submit" mat-raised-button class="btnAdd" (click)="submitCommentForm()">Add comment</button>
            <button type="reset" mat-raised-button class="btnCancel" routerLink="/">Cancel</button>
          </div>
        </form>
      </div>

    </div>

    <div class="description_box">
      <b class="title">Comments:</b><br><br><br>
      <div class="rating_container">
        <p><b>Rating: </b></p><p class="rating">{{averageRating | number:'1.2-2'}}</p><p>/5.0</p>
      </div>
      <div *ngFor="let comment of accommodationComments" class="comment">
        <img class="profile" src="{{comment.guestProfilePicture.path}}">
        <div class="right_part">
          <p class="commenter_name">{{comment.guestName + " " + comment.guestSurname}}</p>
          <button class="delete-comment" *ngIf="comment.guestId === loggedIn" (click)="deleteComment(comment)"><mat-icon class="delete-icon">delete</mat-icon></button>
          <p class="comment-date">{{comment.date}}</p>
          <br><br>
          <p class="comment_text">{{comment.content}}</p>
          <div class="rating-helper">
            <div class="rating-wrapper">
              <p class="comment-rate">{{comment.rating | number:'1.1-1'}} / 5.0</p>
              <img class="comment-star" src="../../../assets/images/icons8-star-26.png">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="map_box">
      <b class="address_title">Address:</b><br>
      <i class="address">{{accommodation.address.city}}, {{accommodation.address.street}}</i>
      <app-map id="non-clickable"></app-map>
    </div>

    <div class="description_box">
      <b class="title">Owner:</b><br>
      <i class="address">{{owner.name}}</i>
      <p class="show_profile" [routerLink]="['/owner/', owner.id]"><u>Show profile</u></p>
    </div>

    <div class="reservation" *ngIf="loggedInGuest!=0">
      <b class="title">Make a reservation request: </b><br><br>
      <div class="left_part_reservation">
        <mat-form-field>
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker" [dateFilter]="invalidDateFiter">
            <input matStartDate placeholder="Start date" [(ngModel)]="startDate" [value]="startDate | date:'yyyy-MM-dd'">
            <input matEndDate placeholder="End date" [(ngModel)]="endDate" [value]="endDate | date:'yyyy-MM-dd'">
          </mat-date-range-input>
          <mat-hint>YYYY-MM-DD – YYYY-MM-DD</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker (closed)="closed()"></mat-date-range-picker>
        </mat-form-field>
      </div>
      <form #request="ngForm" (ngSubmit)="makeReservation()" *ngIf="!submitted" [formGroup]="form" >
        <input required type="number" id="people_input" name="people_input" placeholder="How many people?" [(ngModel)]="people" (change)="closed()" formControlName="people">
        <input type="text" id="price" placeholder="Total price" value={{totalPrice}}>
        <button type="submit" class="reservation_btn">Make a request!</button>
      </form>
    </div>

  </div>
</div>
