<div class="desktop-11">

  <div class="dialog1"></div>
  <div class="photo-box"></div>
  <div class="descriprion-box"></div>
  <div class="descriprion-box1"></div>
  <div class="descriprion-box2"></div>
  <div class="descriprion-box3"></div>
  <div class="descriprion-box4"></div>
  <div class="industrial-design-apartment">Industrial design apartment</div>
  <div class="most-popular-facilities">Most popular facilities:</div>
  <div class="the-units-come-container">
        <span class="the-units-come-container1">
          <p class="the-units-come">
            The units come with parquet floors and feature a fully equipped
            kitchen with a microwave, a dining area, a flat-screen TV with
            streaming services, and a private bathroom with walk-in shower and a
            hair dryer. A toaster, a fridge and stovetop are also available, as
            well as a coffee machine and a kettle.
          </p>
          <p class="the-units-come">&nbsp;</p>
          <p class="the-units-come">
            Eventim Apollo is 2.4 km from the apartment, while South Kensington
            Underground Station is 3 km from the property. The nearest airport
            is London Heathrow Airport, 21 km from Central London Luxury Studios
            Fulham Close to Underground Newly Refurbished.
          </p>
        </span>
  </div>
  <img class="vector-icon" alt="" src="./public/vector.svg" />

  <div class="div">4.8 / 5.0</div>
  <div class="free-wi-fi">free wi-fi</div>
  <div class="extra-clean">extra clean</div>
  <div class="popular-location">popular location</div>
  <div class="parking-space">parking space</div>
  <div class="view-all-comments">View all comments</div>
  <div class="see-all-facilities">See all facilities</div>
  <div class="comments">Comments</div>
  <div class="desktop-11-child"></div>
  <div class="desktop-11-item"></div>
  <div class="reset-selection">Reset selection</div>

  <img
    class="house-2725237-640-1-icon"
    alt=""
    src="./public/house2725237-640-1@2x.png"
  />

  <img
    class="brick-wall-1850095-640-icon"
    alt=""
    src="./public/brickwall1850095-640@2x.png"
  />

  <img
    class="brick-wall-1834784-640-icon"
    alt=""
    src="./public/brickwall1834784-640@2x.png"
  />

  <img class="arrow-popular-icon" alt="" src="./public/arrow-popular.svg" />

  <img class="maps-2-icon" alt="" src="./public/maps-2@2x.png" />

  <div class="descriprion-box5"></div>
  <div class="descriprion-box6"></div>
  <div class="descriprion-box7"></div>
  <div class="descriprion-box8"></div>
  <div class="show-on-map">Show on map</div>
  <div class="mark-s">Mark S.</div>
  <div class="mark-s1">Mark S.</div>
  <div class="mark-s2">Mark S.</div>
  <img
    class="profile-vector-icon1"
    alt=""
    src="./public/profile-vector1.svg"
  />

  <img
    class="profile-vector-icon2"
    alt=""
    src="./public/profile-vector1.svg"
  />

  <img
    class="profile-vector-icon3"
    alt=""
    src="./public/profile-vector1.svg"
  />

  <div class="div1">3.0 / 5.0</div>
  <div class="div2">3.0 / 5.0</div>
  <div class="div3">3.0 / 5.0</div>
  <div class="not-satisfied-was">
    Not satisfied, was not in center as was written in..
  </div>
  <div class="not-satisfied-was1">
    Not satisfied, was not in center as was written in..
  </div>
  <div class="not-satisfied-was2">
    Not satisfied, was not in center as was written in..
  </div>
  <div class="dialog2"></div>
  <div class="place-input7"></div>
  <img
    class="dropdown-vector-icon"
    alt=""
    src="./public/dropdown-vector.svg"
  />

  <img
    class="dropdown-vector-icon1"
    alt=""
    src="./public/dropdown-vector1.svg"
  />

  <img class="vector-icon1" alt="" src="./public/vector1.svg" />

  <img class="desktop-11-inner" alt="" src="./public/group-1.svg" />

  <img class="vector-icon2" alt="" src="./public/vector2.svg" />

  <img class="humbleiconsrss" alt="" src="./public/humbleiconsrss.svg" />

  <div class="date-input1"></div>
  <div class="people-input1"></div>
  <div class="div4">12.03.2024. - 15.03.2024.</div>
  <div class="div5">2</div>
  <img class="person-vector-icon" alt="" src="./public/person-vector.svg" />

  <img
    class="dropdown-vector-icon2"
    alt=""
    src="./public/dropdown-vector2.svg"
  />

  <img
    class="dropdown-vector-icon3"
    alt=""
    src="./public/dropdown-vector3.svg"
  />

  <img class="date-vector-icon" alt="" src="./public/date-vector.svg" />

  <div class="make-a-reservation">MAKE A RESERVATION!</div>
  <img
    class="screenshot-1-1-icon"
    alt=""
    src="./public/screenshot1-1@2x.png"
  />

  <div class="rectangle-div"></div>
  <img
    class="profile-vector-icon4"
    alt=""
    src="./public/profile-vector2.svg"
  />

  <div class="desktop-11-child1"></div>
  <div class="add-a-comment">Add a comment...</div>
  <div class="desktop-11-child2"></div>
  <div class="confirm">Confirm</div>
  <img class="vector-icon3" alt="" src="./public/vector3.svg" />

  <img class="vector-icon4" alt="" src="./public/vector4.svg" />

  <img class="vector-icon5" alt="" src="./public/vector4.svg" />

  <img class="vector-icon6" alt="" src="./public/vector4.svg" />

  <img class="vector-icon7" alt="" src="./public/vector4.svg" />

  <img class="vector-icon8" alt="" src="./public/vector5.svg" />

  <img class="vector-icon9" alt="" src="./public/vector6.svg" />

  <div class="div6">5.11.2023.</div>
  <div class="div7">5.11.2023.</div>
  <div class="div8">5.11.2023.</div>
</div>
