.background {
  background-image: url("../../../assets/images/background_image.png");
  background-size: contain;
  background-position: center;
  height: fit-content;
  min-height: 100px;
  max-height: max-content;
  width: 100%;
  overflow: hidden;
  text-align: right;
  font-size: 12px;
  color: #3c3c3c;
  font-family: Roboto, serif;
  padding-bottom: 50px;
}

.dialog1 {
  position: relative;
  top: 50px;
  left: 50px;
  border-radius: 10px;
  background-color: #90A28880;
  width: 93%;
  height: fit-content;
  min-height: 100px;
  overflow: hidden;
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.photo-box-wrapper{
  display: flex;
  flex-direction: column;
}

.photo-box {
  width: 95%;
  height: 220px;
  display: flex;
  white-space: nowrap;
  padding: 15px;
  overflow-x: scroll;
  list-style: none;
  margin: 10px;
}

.img-and-icon{
  display: flex;
  width: fit-content;
  margin-right: 20px;
}

.acc-image {
  width: 300px;
  height: 200px;
  display: inline-block;
  border-radius: 10px;
  float: left;
}

.btn{
  margin-right: 10px;
  padding: 0;
  background-color: transparent;
  border-color: transparent;
  height: fit-content;
  width: fit-content;
}

.icon-image{
  width: 25px;
  height: 25px;
  margin: 0;
}

.icon-image:hover{
  box-shadow: 0 0 10px #3c3c3c;
  width: 30px;
  height: 30px;
  transition: 300ms;
}

.more-img{
  margin: 10px 0 10px 50px;
}

.description-box {
  padding: 1%;
  margin-left: 1.5%;
  width: 95%;
  background-color: #90A288;
  border-radius: 10px;
  text-align: left;
  margin-bottom: 10px;
  overflow: hidden;
}

.btn-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.btn-done,
.btn-more-update{
  width: 20%;
  height: fit-content;
  padding: 10px;
  background-color: #3c3c3c;
  border: 2px solid #3c3c3c;
  border-radius: 10px;
  color: #e5e5e5;
  font-size: 15px;
  font-family: 'Roboto';
  margin: 20px;
}

.btn-done:hover,
.btn-more-update:hover{
  background-color: #e5e5e5;
  color: #3c3c3c;
  transition: 500ms;
}

.acc-title {
  font-family: 'Roboto', sans-serif ;
  font-size: 20px;
  font-weight: bold;
  justify-content: left;
  height: 100%;
  display: inline;
  width: 40%;
  text-align: left;
  background-color: #90A288;
  color: #3c3c3c;
  letter-spacing: 1px;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #3c3c3c;
}

.acc-title::placeholder {
  font-weight: normal;
}

.description {
  text-align: left;
  font-size: 15px;
  width: 90%;
  min-height: 30px;
  max-height: 200px;
  height: fit-content;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  background-color: #90A288;
  color: #3c3c3c;
  resize: none;
  overflow-y: auto;
  border: none;
  border-bottom: 2px solid #3c3c3c;
}

.container {
  padding: 1%;
  margin-left: 1.5%;
  width: 95%;
  height: fit-content;
  background-color: #90A288;
  border-radius: 10px;
  float: left;
  margin-bottom: 10px;
  align-content: flex-start;
  text-align: left;
}

.title {
  font-size: 20px;
  margin: 10px 0 10px 10px;
  color: #3c3c3c;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.amenity-container {
  display: flex;
}

.amenity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 70px 10px 0;
}

input[type=checkbox] {
  accent-color: #3c3c3c80;
}

.amenity-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #3c3c3c;
  background-color: #e5e5e5;
  border-radius: 3px;
}

.amenity-checkbox:checked {
  background-color: #3c3c3c;
}

.amenity-image {
  display: inline;
  height: 25px;
  width: 25px;
  margin: 0 5px;
}

.amenity-name{
  color: #3c3c3c;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.map-box-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.half{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 20px;
}

.address-input{
  width: 80%;
  background-color: #90A288;
  margin-bottom: 20px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  color: #3c3c3c;
  font-size: 15px;
  border: none;
  border-bottom: 2px solid #3c3c3c;
}

.map-button {
  display: inline;
  float: left;
  background-color: #3c3c3c40;
  border-radius: 7px;
  border-color: #FFFFFF00;
  height: 40px;
  margin-left: 20px;
  margin-top: 20px;
}

#non-clickable{
  margin-right: 20px;
}

.profile {
  height: 70px;
  width: 70px;
  border-radius: 40px;
  object-fit: cover;
  margin-top: 10px;
  margin-left: 40px;
}

.comment {
  width: 95%;
  margin: auto;
  border-radius: 10px;
  background-color: #3c3c3c40;
  margin-bottom: 10px;
}

.right-part {
  width: 80%;
  /*this margin should be bigger than image width*/
  margin-left: 100px;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.comment-text {
  justify-content: start;
  width: 80%;
  float: left;
  font-size: 13px;
  display: inline;
}

.commenter-name {
  width: 60%;
  float: left;
  font-size: 15px;
  display: inline;
}

.rating-container {
  display: flex;
  font-size: 14px;
}

.rating {
  margin-left: 20px;
}

.accepting-requests {
  display: flex;
}

mat-slide-toggle{
  display: block;
  width: fit-content;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 12px;
}

.check_option {
  display: block;
  width: fit-content;
}


.comment-textarea {
  width: 100%;
  margin-bottom: 20px; /* Adjust the margin as needed */
}

.rating-helper{
  display: flex;
  justify-content: right;
}

.rating-wrapper{
  width: fit-content;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.comment-rate{
  margin: 5px;
  font-size: 13px;
  font-family: 'Roboto';
  color: #3c3c3c;
}

.comment-star{
  width: 18px;
  height: auto;
}

.delete-comment {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.delete-icon {
  color: #3C3C3C; /* Adjust the color as needed */
}

.delete-comment:hover .delete-icon {
  color: #90A288;
}

.profile {
  height: 70px;
  width: 70px;
  border-radius: 40px;
  object-fit: cover;
  margin-top: 10px;
  margin-left: 40px;
}

.comment {
  width: 95%;
  margin: auto;
  border-radius: 10px;
  background-color: #3c3c3c40;
  margin-bottom: 10px;
}
.right_part {
  width: 80%;
  /*this margin should be bigger than image width*/
  margin-left: 100px;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.comment_text {
  justify-content: start;
  width: 80%;
  float: left;
  font-size: 13px;
  display: inline;
}
.commenter_name {
  width: 60%;
  float: left;
  font-size: 15px;
  display: inline;
}
