<mat-toolbar>
  <div>
    <div class="property-1default">
      <img class="big-logo-icon1" alt="" src="../../assets/booker-high-resolution-logo-transparent.png" />
      <div class="log-in-button">
        <button class="log-in">Log in</button>
      </div>
      <div class="sign-up-button">
        <button class="sign-up">Sign up</button>
      </div>
      <div class="search-button">
        <img class="vector-icon4" alt="" src="../../assets/search-icon.png" />
      </div>
    </div>
  </div>
</mat-toolbar>

