<mat-toolbar>
  <div>
    <div class="property-1default">
      <img [routerLink]="['/home']" class="big-logo-icon1" alt="" src="../../assets/images/booker-high-resolution-logo-transparent.png" />
      <div class="right-section-menu">
        <button class="menu-toggle" (click)="toggleMenu()">Menu</button>
        <ul class="right-menu" [ngClass]="{'show-menu': isMenuOpen}" id="menu">
          <li class="menu-item"><button type="button" (click)="toggleMenu()">Reservations</button></li>
          <li class="menu-item"><button type="button" (click)="toggleMenu()">Notifications</button></li>
          <li class="menu-item"><button type="button" (click)="toggleMenu()">My accommodations</button></li>
          <li class="menu-item"><button type="button" (click)="toggleMenu()">Reservation requests</button></li>
          <li class="menu-item"><button type="button" (click)="toggleMenu()">Approve comments</button></li>
          <li class="menu-item"><button type="button" (click)="toggleMenu()">Approve blocking</button></li>
          <li class="menu-item"><button type="button" (click)="toggleMenu()">Approve accommodations</button></li>
          <li class="menu-item"><button type="button" (click)="toggleMenu()">Favorite accommodations</button></li>
          <li class="menu-item"><button type="button" (click)="toggleMenu()" [routerLink]="['create_accommodation']">Create accommodation</button> </li>
          <li class="menu-item"><button type="button" (click)="toggleMenu()" [routerLink]="['login']">Log out</button></li>
        </ul>
      </div>
      <div class="profile-button">
        <button class="profile" [routerLink]="['guests']" [queryParams]="{ id: loginUserId }">My profile</button>
      </div>
      <div class="log-in-button">
        <button class="log-in" [routerLink]="['login']">Log in</button>
      </div>
      <div class="sign-up-button">
        <button class="sign-up" [routerLink]="['signup']">Sign up</button>
      </div>
      <div [routerLink]="['/home']" class="search-button">
        <img class="vector-icon4" alt="" src="../../assets/images/search-icon.png" />
      </div>
    </div>
  </div>
</mat-toolbar>


