mat-card {
  background-color: #90A288;
  color: #3c3c3c;
  border-radius: 15px;
}

mat-card-content {
  width: 100%;
  display: flex;
  padding: 0;
}

.container {
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 10px;
  display: flex;
}

.left {
  width: 30%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.user-image{
  width: 80%;
}

.user-name-surname,
.user-email{
  font-size: 15px;
  color: #3c3c3c;
  margin: 10px 0 0 0;
}

.user-email {
  font-weight: bold;
}

.right{
  padding-left: 10px;
  width: 50%;
}

.comments-area{
  display: flex;
  justify-content: start;
  align-items: center;
}

app-reporting-card {
  width: 100%;
  margin-bottom: 10px;
}

.delete {
  background-color: #3c3c3c;
  color: #e5e5e5;
  font-size: 15px;
  border: 1px solid #3c3c3c;
  border-radius: 10px;
  width: fit-content;
  padding: 7px 40px;
  margin-top: 15px;
}

.delete:hover {
  background-color: #e5e5e5;
  color: #3c3c3c;
  transition: 300ms;
}
