<div class="background">
  <div class="container">
    <form  #request="ngForm" (ngSubmit)="search(where_input, from_date, to_date, people_input)" *ngIf="!submitted" [formGroup]="form" >
      <div>
        <input type="text" id="where_input" name="where_input" placeholder="Where to?" #where_input [(ngModel)]="location" [value]="location" required formControlName="location">
        <input type="date" id="from_date" name="from_date" placeholder="When?" #from_date [(ngModel)]="startDate" [value]="startDate" required formControlName="start">
        <input type="date" id="to_date" name="to_date" placeholder="When?" #to_date [(ngModel)]="endDate" [value]="endDate" required formControlName="end">
        <input type="number" id="people_input" name="people_input" placeholder="How many people?" #people_input [(ngModel)]="people" [value]="people" required formControlName="people">
        <input type="submit" class="search-button" value="Search!"/>
      </div>
      <div class="filters">
        <div class="left_part_accommodations">
          <div *ngFor="let amenity of amenities">
            <mat-checkbox class="amenities" [(ngModel)]="selectedAmenities[amenity]" [ngModelOptions]="{standalone: true}" (change)="onCheckboxChange(amenity)"><p class="filter-text">{{amenity}}</p></mat-checkbox>
          </div>
        </div>
        <div class="right_part">
          <div class="right_part_acc_type">
            <mat-checkbox [(ngModel)]="studio" [ngModelOptions]="{standalone: true}"><p class="filter-text">studio</p></mat-checkbox>
            <mat-checkbox [(ngModel)]="hotel" [ngModelOptions]="{standalone: true}"><p class="filter-text">hotel</p></mat-checkbox>
            <mat-checkbox [(ngModel)]="villa" [ngModelOptions]="{standalone: true}"><p class="filter-text">villa</p></mat-checkbox>
            <mat-checkbox [(ngModel)]="room" [ngModelOptions]="{standalone: true}"><p class="filter-text">room</p></mat-checkbox>
          </div>
          <div class="right_part_price">
            <input type="number" id="min_price" [(ngModel)]="minPrice" [ngModelOptions]="{standalone: true}" placeholder="minimum">
            <input type="number" id="max_price" [(ngModel)]="maxPrice" [ngModelOptions]="{standalone: true}" placeholder="maximum">
          </div>
        </div>
      </div>
    </form>
    <br>
    <div class="placeholder">
      <div *ngFor="let accommodation of accommodations" class="card_div">
        <app-accommodation-card (clicked)="onAccommodationClick($event)" [accommodation]="accommodation"></app-accommodation-card>
      </div>
    </div>
  </div>
</div>
