<div class="background">
  <div class="container">
    <div class="part">
      <h2 class="title">All accommodations comments</h2>
      <div class="placeholder">
        <div class="card_div" *ngFor="let acc of accommodations">
          <app-accommodation-comments-card [accommodation]="acc"></app-accommodation-comments-card>
        </div>
      </div>
    </div>
    <div class="part">
      <h2 class="title">All accommodations ratings</h2>
      <div class="placeholder">
        <div class="card_div" *ngFor="let acc of accommodations">
          <app-accommodation-ratings-card [accommodation]="acc"></app-accommodation-ratings-card>
        </div>
      </div>
    </div>
  </div>
</div>
